<!doctype html>
<html lang="en">
<head>
    <title>سیستم فروش همکار</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/css/bootstrap-rtl.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">

        <!-- Right Sidebar -->
        <nav class="bg-light active" style="width: 250px;">
            <!-- Sidebar content here -->
            <!-- Example: navigation links, user profile, etc. -->
            <div class="p-4 text-nowrap d-flex " >
                <ul class="list-unstyled list-group components mb-5">

             
                    <li class=" list-group-item"><span class="fa fa-user mr-3">  </span><span>  </span>@Html.ActionLink("لیست کاربران", "UserList" , "User" )</li>
                    <li class=" list-group-item"><span class="fa fa-level-up mr-3">  </span>@Html.ActionLink("تایید کاربران", "ConfirmUsers", "User")</li>
                    <li class=" list-group-item"><span class="fa fa-list mr-3">  </span>@Html.ActionLink("لیست سفارشات", "OrderList", "Order")</li>
                    <li class=" list-group-item"><span class="fa fa-list mr-3">  </span>@Html.ActionLink("ثبت سفارش", "CreateOrder", "Order")</li>
                    <li class=" list-group-item"><span class="fa fa-list mr-3">  </span>@Html.ActionLink("پیگیری سفارش", "OrderTracking", "Order")</li>
                    <li class=" list-group-item"><span class="fa fa-sign-out mr-3">  </span>@Html.ActionLink("خروج", "Logout", "User")</li>

                </ul>
            </div>
        </nav>

        <!-- Main Content Area -->
        <main class="flex-fill">
            <!-- Main content here -->
            <!-- Example: page content, forms, tables, etc. -->
            @RenderBody()
        </main>

        <!-- Left Sidebar (if needed) -->
        <nav class="bg-light" style="width: 250px;">
            <!-- Sidebar content here -->
            <!-- Example: additional navigation links, filters, etc. -->
        </nav>
    </div>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>


