<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>سیستم فروش حامد</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS RTL-->
    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/js/plugins/morris/raphael.min.js"></script>
    <script src="~/js/plugins/morris/morris.min.js"></script>
    <script src="~/js/plugins/morris/morris-data.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-secondary">
        </nav>
    </header>
    <div style="display: flex; justify-content: center; align-items: center;" dir="rtl">
        <h2>سیستم فروش حامد یدک</h2>
        <br>
    </div>
    <div class="wrapper d-flex align-items-stretch">

        <!-- Right Sidebar -->
        <nav class="bg-light active" style="width: 250px;">
            <!-- Sidebar content here -->
            <!-- Example: navigation links, user profile, etc. -->
            <div class="p-4 text-nowrap d-flex " style="width:inherit;">
                <ul class="list-unstyled list-group components mb-5" style="direction: ltr; width:fit-content();">


                    <li class=" list-group-item"><span class="fa fa-user mr-3">  </span><span>  </span>@Html.ActionLink("لیست کاربران", "UserList", "User")</li>
                    <li class=" list-group-item"><span class="fa fa-level-up mr-3">  </span><span>  </span>@Html.ActionLink("تایید کاربران", "ConfirmUsers", "User")</li>
                    <li class=" list-group-item"><span class="fa fa-list mr-3">  </span><span>  </span>@Html.ActionLink("لیست سفارشات", "OrderList", "Order")</li>
                    <li class=" list-group-item"><span class="fa fa-list mr-3">  </span><span>  </span>@Html.ActionLink("ثبت سفارش", "CreateOrder", "Order")</li>
                    <li class=" list-group-item"><span class="fa fa-list mr-3">  </span><span>  </span>@Html.ActionLink("پیگیری سفارش", "OrderTracking", "Order")</li>
                    <li class=" list-group-item"><span class="fa fa-sign-out mr-3">  </span><span>  </span>@Html.ActionLink("خروج", "Logout", "User")</li>

                </ul>
            </div>
        </nav>

        <!-- Main Content Area -->
        <main class="flex-fill">
            <!-- Main content here -->
            <!-- Example: page content, forms, tables, etc. -->
            @RenderBody()
        </main>

        <!-- Left Sidebar (if needed) -->
        <!--<nav class="bg-light" style="width: 250px;">-->
            <!-- Sidebar content here -->
            <!-- Example: additional navigation links, filters, etc. -->
        <!--</nav>-->
    </div>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>


