@model UserViewModel
<div dir="rtl">

    <form role="form" dir="rtl" method="post" action=@Url.Action("SearchUser","User")>

        <div class="form-group">
            <label>جستجو بر اساس نام کاربری</label>
            <input class="form-control" id="txtUserName" name="UserName">

            <label>جستجو بر اساس شماره موبایل</label>
            <input class="form-control" placeholder="Enter text" id="txtPhoneNumber" name="PhoneNumber">
        </div>

        <button type="submit" class="btn btn-primary">جستجو</button>

    </form>

</div>
<div>
    <table class="table table-bordered table-striped" dir="rtl">
        <tr>
            <th>نام کاربر</th>
            <th>شماره موبایل</th>
            <th>وضعیت</th>
        </tr>

        @foreach (var item in Model.PaginatedUsers())
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.StatusTitle</td>

            </tr>
        }

    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount(); i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("SearchUser", "User", new { page = i,UserName=Model.Username,PhoneNumber=Model.PhoneNumber })">@i</a>
            </li>

        }
    </ul>
</div>
